.asesores {
    border: 1px solid #dfdfdf;
    width: 100%;
    max-height: 300px;
    padding: 0;
    margin: 0;
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        line-height: 40px;
        li {
            cursor: pointer;
            font-size: 14px;
        }
        li:hover {
            color: red;
            font-weight: bold;
        }
    }
    i {
        font-size: 14px;
    }
}